.letterbox-container {
  height: 100px;
  width: 100px;
  border-color: black;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.letter {
  font-size: 50px;
}

.correct {
  background-color: green;
}

.present {
  background-color: yellow;
}

.default {
  background-color: grey;
}
