.letterbox-container {
  height: 100px;
  width: 100px;
  border-color: black;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.letter {
  font-size: 50px;
}
