.key-container {
  font-family: 'Libre Franklin', sans-serif;
  color: #f8f8f8;
  font-size: 24px;
  height: 56px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #828384;
  border-radius: 4px;
}

.default {
  background-color: #828384;
}

.wrong {
  background-color: #3a3a3c;
}

.correct {
  background-color: #548d4e;
}

.present {
  background-color: #b69f3c;
}

.phat {
  padding: 0 14px 0 14px;
  font-size: 16px;
}
