.end-screen-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100vw;
  height: 100vh;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-family: 'Libre Franklin Variable', sans-serif;
}

.message {
  font-weight: 800;
  font-size: 38px;
  transform: scaleX(0.85);
  display: inline-block;
  margin: 24px 0 0 0;
  color: #fffffe;
}

.play-again-button {
  font-family: 'Libre Franklin Variable', sans-serif;
  font-weight: 400;
  height: 60px;
  width: 170px;
  font-size: 19px;
  background-color: #fffffe;
  color: black;
  border-radius: 30px;
}
