.letterbox-container {
  height: 60px;
  width: 60px;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.letter {
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  font-family: 'Libre Franklin', sans-serif;
}

.correct {
  background-color: #548d4e;
  border: 4px solid #548d4e;
}

.present {
  background-color: #b69f3c;
  border: 4px solid #b69f3c;
}

.default {
  background-color: #121213;
  border: 4px solid #3a3a3c;
}

.wrong {
  background-color: #3a3a3c;
  border: 4px solid #3a3a3c;
}
