:root {
  background-color: #121213;
}

body {
  margin: 0;
}

button {
  all: unset;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: 'Libre Franklin Variable';
  src: url('/fonts/LibreFranklin-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
